<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>agence_de_voyage</display-name>
	<servlet>
		<servlet-name>vols</servlet-name>
		<servlet-class>web.volsservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vols</servlet-name>
		<url-pattern>/volserv</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>vols</servlet-name>
		<url-pattern>/volhisserv</url-pattern>
	</servlet-mapping>
</web-app>